body {
    max-height: 90%;
    background-color: black;
}

header {
    top: 0;
    background-color: rgba(255, 255, 255 .30)
}

h1 {
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 0;
    text-align: center;
}

aside {
    max-height: 800px;
    background-color: white;
}

.prvCities p {
    text-align: center;
}

button {
    border: none;
    background-color: transparent;
}

a {
    margin-left: 10%;
    width: 80%;
}

.cityPanel {
    /* margin-right: .5rem; */
    grid-column: 1;
    grid-row: 1 / 5;
}

#citySearch h2 {
    font-size: 2rem;
}

main {
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: repeat(4, 1fr);
    width: 90%;
    min-height: 600px;
    max-height: 800px;
    margin: 0 5% 5% 5%;
}

#currentFocus {
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid gray;
    grid-column: 2;
    grid-row: 1 / 3;
    max-height: 400px;
}

#curFocusHeader {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column: 1/3;
}

#curFocusHeader h5 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#curFocusDecription {
    grid-row: 2;
    grid-column: 1/ 3;
    margin: 0;
    padding-top: 2.5%;
    text-align: left;
    background-color: rgba(233, 233, 233, .75);
    text-transform: capitalize;
}

#curFocusDetail {
    grid-column: 3 /5;
    grid-row: 2;
    margin: 0;
    padding-top: 2.5%;
    background-color: rgba(233, 233, 233, 0.75);
    text-align: left;
    text-transform: capitalize;
}

#curFocusH3 {
    margin: 0;
    font-weight: bold;
    border-bottom: 1px solid black;
    font-variant: small-caps;
    grid-column: 1 / 5;
    text-align: center;
    background-color: rgb(233, 233, 233, .8);
}

#curDate {
    margin-top: 0;
    text-align: center;
}

#curTemp {
    text-align: center;
    font-size: 7rem;
    margin: -50px 0 0 0;
}

#curFeel {
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
}

.curDayHiLo {
    margin: 0;
    font-size: 1.5rem;
    max-height: 50px;
    padding-left: 2rem;
}

#curDayUV {
    grid-column: 1 / 4;
    grid-row: 4;
    text-align: center;
    font-size: 1.5rem;
    max-width: 80%;
    margin: 0 5%;
    padding-bottom: 15%;
}

.uvDanger {
    background-color: rgba(255, 0, 0, 0.75);
}

.uvHigh {
    background-color: rgba(255, 166, 0, 0.75)
}

.uvCaution {
    background-color: rgba(255, 255, 0, 0.75);
}

.uvClear {
    background-color: rgba(5, 143, 0, 0.75);
}

#curDayHi {
    grid-column: 1;
    grid-row: 1;
}

#curDayLo {
    grid-column: 2/ 4;
    grid-row: 1;
    /* padding-left: 0; */
}

#curDayHumidity {
    grid-column: 1/4;
    grid-row: 2;
    padding-top: 1rem;
}

#curDayWind {
    grid-column: 1/4;
    grid-row: 3;
}

#leftCurDay h5,
#rightCurDay h5 {
    margin-bottom: 0;
    text-align: center;
}

#leftCurDay {
    border-right: 5px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 0;
    grid-column: 1;
    grid-row: 2/6;
    box-shadow: none;
    margin-bottom: 0;
    max-height: 100%;
}

#rightCurDay {
    display: grid;
    padding-top: 2rem;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 10% 20% 20% 20% 10%;
    gap: 1.5rem;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 0;
    grid-column: 2 /3;
    grid-row: 2 /6;
    box-shadow: none;
    margin-bottom: 0;
    max-height: 100%;
}

#fiveDayContainer {
    background-color: violet;
    grid-column: 2;
    grid-row: 3 / 5;
    max-height: 400px;
}

.card h4 {
    text-align: center;
    font-variant: small-caps;
}

#fiveDayContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .5rem;
    padding: .5rem .5rem;
}

.forecastCard1 {
    grid-column: 1;
}

.forecastCard2 {
    grid-column: 2;
}

.forecastCard3 {
    grid-column: 3;
}

.forecastCard4 {
    grid-column: 4;
}

.forecastCard5 {
    grid-column: 5;
}

.forecastCard1,
.forecastCard2,
.forecastCard3,
.forecastCard4,
.forecastCard5 {
    background-color: white;
    text-align: center;
    height: 100%;
    Width: 100%;
}

.forecastCard1 h4,
.forecastCard2 h4,
.forecastCard3 h4,
.forecastCard4 h4,
.forecastCard5 h4 {
    font-size: 1rem;
    font-weight: bold;
}

p span {
    font-weight: bold;
    margin-right: 1rem;
}

.localDayFormat {
    margin-bottom: 0;
}

.localDateFormat {
    margin-top: 0;
}

.detailDiv {
    margin-left: 2%;
    text-align: left;
}

.fiveDayDescription {
    font-variant: small-caps;
}